.card {
  outline: 1px solid grey;
  width: 240px;
  border-radius: 16px;
  margin: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.nftImg {
  width: 100%;
  height: 150px;
}

.infoContainer {
  margin-top: 15px;

  height: 100px;
  text-align: center;

  .name {
    font-weight: 600;
    font-size: 17px;
  }

  .description {
    margin-top: 5px;
    color: #656565;
  }

  .creators {
    margin-top: 15px;
    font-size: 14px;
    color: #656565;
  }

  .seller {
    margin-top: 5px;
    font-size: 14px;
    color: #656565;
  }
}
