.browse {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0px 30px;
  color: #272727;
}

.collections {
  display: flex;
  flex-direction: row;
  padding: 0px 60px;
  flex-wrap: wrap;
}
