.studio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 40px;
}

.container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 20px;
  flex: 1;
  margin-right: 60px;
  box-shadow: 0 0 30px #00000020;
}

.title {
  font-size: 30px;
  margin-bottom: 30px;
}

.gallery {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}

.workstation {
  position: sticky;
  top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .playgroundBorder {
    border: 2px solid grey;
    width: 504px;
    height: 504px;

    .playground {
      width: 500px;
      height: 500px;
    }
  }

  .controls {
    margin-top: 15px;

    button {
      margin-left: 5px;
      margin-right: 5px;

      padding: 10px 15px;
      border: none;
      border-radius: 10px;
      box-shadow: 0 0 30px #00000030;
      color: #ffffff;
      background-color: #4010d0;
      transition: background-color 150ms;

      cursor: pointer;

      &:hover {
        background-color: #5020e0;
      }
    }
  }
}

.mintButton {
  margin-top: 15px;
  background: linear-gradient(90deg, #f213a4 0%, #5204bf 100%);
  padding: 15px 40px;
  border-radius: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
