.studio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 40px;
}

.container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 20px;
  flex: 1;
  margin-right: 60px;
  box-shadow: 0 0 30px #00000020;

  .title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    flex-wrap: wrap;
  }
}

.workstation {
  position: sticky;
  top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .playgroundBorder {
    border: 2px solid grey;
    width: 504px;
    height: 504px;

    .playground {
      width: 500px;
      height: 500px;
    }
  }

  .controls {
    margin-top: 15px;

    button {
      margin-left: 5px;
      margin-right: 5px;

      padding: 10px 15px;
      border: none;
      border-radius: 10px;
      color: #ffffff;
      font-weight: 510;
      background-color: #ff9e27;
      transition: background-color 150ms;

      cursor: pointer;

      &:hover {
        background-color: #0078d4;
      }
    }
  }

  .colorPicker {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .colorDescription {
      margin-right: 10px;
    }
    .colorPick {
      cursor: pointer;
    }
  }
}

.mintButton {
  margin-top: 15px;
  background: linear-gradient(90deg, #ff2b67 0%, #ff8418 100%);
  padding: 15px 40px;
  border-radius: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.07);
  }
  transition: transform 200ms;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #00000060;
  display: flex;
  justify-content: center;
  align-items: center;

  .dialog {
    width: 600px;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    color: #000000;

    .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .fieldset {
        flex: 1;

        input {
          margin-bottom: 15px;

          display: block;
          width: 100%;
          padding: 10px 15px;
          border: none;
          border-radius: 10px;
          box-shadow: 0 0 15px #00000015;

          &:focus {
            outline: 2px solid #4010d0;
          }
        }
      }

      .split {
        margin-left: 30px;
        flex: 1;
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      button {
        margin-left: 10px;

        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        transition: background-color 150ms;
        font-weight: 510;
        cursor: pointer;

        &.cancelButton {
          color: #000000;
          background-color: #f0f0f0;

          &:hover {
            background-color: #e0e0e0;
          }
        }

        &.confirmButton {
          color: #ffffff;
          background-color: #ff9e27dc;

          &:hover {
            background-color: #ff9e27;
          }
        }
      }
    }
  }
}
