.navbar {
  position: sticky;
  top: 0;
  height: 85px;
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  background-color: #fffffff8;
}

.name {
  font-size: 28px;
  font-weight: 600;
}
