@import './styles/normalize';
@import '@solana/wallet-adapter-react-ui/styles.css';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
  font-family: 'Ubuntu';
}

input,
textarea,
button,
select {
  font-family: 'Ubuntu';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
